@extension_description
Change the appearance of the web instantly

#==== CSS Properties ====

@font_family
フォント

@font_size
サイズ

@font_style
文字種

@line_height
行の高さの変更

@text_decoration
文字修飾

@text_transform
文字種の変換

@text_align
行を揃える

@text_color
色

@background_color
背景色

@visibility
透明度

@hide
隠し文字

@margin
マージン（余白）

@border
ページ罫線

@padding
パディング

@width
幅

@height
高さ

@none
無し

@default
デフォルト

@thin
細さ

@light
明るさ

@regular
標準

@medium
中

@bold
太字

@black
黒

@thin_italic
Thin Italic

@light_italic
Light Italic

@italic
Italic

@medium_italic
Medium Italic

@bold_italic
Bold Italic

@black_italic
Black Italic

@border_style
スタイル

@border_color
色

@border_none
無し

@border_solid
塗りつぶし

@border_dotted
ドット

@border_dashed
破線

@border_double
二重線

@border_groove
グローブ

@border_ridge
リッジ

@border_inset
インセット

@border_outset
アウトセット

#==== Editor ====
@text_properties
文字

@color_properties
色

@layout_properties
レイアウト

@border_properties
境界線

@basic_mode
基準

@basic_mode_description
Visual CSS editor

@magic_mode
マジック

@magic_mode_description
Experimental features

@code_mode
Code

@code_mode_description
Code

@inspect_description 
ページの要素を選択して変換

@enter_css_selector
CSS Selectorへ移動...

@delete_style
スタイルの削除...

@delete_style_for_url_title
スタイルを削除して $url$ に変換 

@delete_style_for_url_description
あなたのcssの $url$ への変換は元に戻せません。

@delete
削除

@cancel
取り消し

@view_options
オプション...

@view_keyboard_shortcuts
キーボードショートカットを見る...

@move_left
左へ移動

@move_right
右へ移動

@close
閉じる

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
キーボードショートカット

@customize
カスタマイズ

@editor
編集

@global
グローバル

@toggle_editor
Toggle エディタ

@toggle_styling
Toggleのスタイル

@toggle_readability
Toggleの可読性

@toggle_grayscale
Toggleをグレースケールにする

@toggle_inspector
Toggle element inspector

@move_editor
エディタを移動

@set_basic_mode
基本エディタへ変更

@set_magic_mode
マジックエディタへ変更

@set_code_mode
コードエディタへ変更

@show_help
ヘルプの表示

@hide_element
選択した要素をCSSへ見せる/隠す

@styling
スタイル

@magic_mode_description
Experimental features. 全てのページへ適用されない可能性があります。

#==== Readability ====

@readability
可読性

@enable_readability
可読性オン

@readability_description
このサイトを表示する際にサイドバーやfooters（会社情報等）、広告のような不必要なページの要素を隠します。

@theme
テーマ

@light_theme
明るい

@dark_theme
くらい

@sepia_theme
セピア

@decrease_width
幅を狭める

@increase_width
幅を広げる

#==== Grayscale ====

@grayscale
グレースケール

@grayscale_description
ページにグレースケールを採用する

#==== Popup ====

@open_stylebot
Stylebotを開く

@close_stylebot
Stylebotを閉じる

#==== Context Menu ====

@style_element
スタイルの要素

#==== Options ====

@basics_options
基本

@styles_options
スタイル

@backup_options
バックアップ

@help_options
ヘルプ

@context_menu
メニュー

@enable_right_click_menu
右クリックメニュー

@donate
寄付

@backup_description
自動バックアップを行う前に、あなたのCSSのバックアップを取ることを推奨します。

@open_export_dialog
エクスポート (Export)...

@open_import_dialog
インポート (Import)...

@add_new_style
新しいスタイルの追加...

@enable_all_styles
全てに辟雍

@disable_all_styles
全ての適用を解除

@open_delete_all_styles_dialog
全削除...

@delete_all_warning
この操作によって全てのスタイルが削除されます。元に戻せません。

@delete_all_styles
全てのスタイルを削除

@open_delete_style_dialog
削除...

@delete_style_warning
この操作によってスタイルが削除されます。元に戻せません。

@open_edit_style_dialog
編集...

@save
保存

@export_dialog_title
コピー / JSON fileへ貼り付け

@export_instructions
JSON を保存した後インポート (import) 

@copy_to_clipboard
クリップボード (Clipboard) へコピー

@import_dialog_titleaste previously exported JSON

@import_instructions
この操作によって現在のスタイルへ上書きされます。元に戻せません。

@import_error
JSON へインポート (import) する際にエラーが発生しました。適切なフォーマットに直してからもう一度試して下さい。

@import 
インポート (Import)

#==== Store Listing ====

@store_listing

Webの外観を即座に変更する

一つの要素を選択しあなたの好きなスタイル（フォント、色、余白等）に変更します。コードもマニュアルで変更できます。

★ 簡単に使える: UI actionsを使用している各要素の設定を変更できます。
★ Simple & Quick: Changes are saved instantly
★ 色の変換 - あなた自身で CSS を編集できます。
★ Readability モード - このサイトを表示する際にサイドバーやfooters（会社情報等）、広告のような不必要なページの要素を隠すことができます。
★ グレースケール モード - グレースケールを使用することで、穏やかな色彩でwebpageを表示することができます。

@privacy_policy

プライバシーポリシー:

Stylebot は一切の個人情報や閲覧履歴の収集等を目的としておりません。ウェブサイトへのアクセス許可は、あなたがウェブページへ訪れた際に、あなた自身でCSSをカスタマイズするためまたは自動的にあなたのCSSを適用するためにためだけに承認されます。

今後、Stylebot はブラウザのバージョン、プラットフォーム、ユーザ設定（ユーザの特定の手助けになるようなウェブリストやデータを除く）を収集する予定です。この情報は新しい機能の実装や不備の除去決定に必要となり、新しいユーザのためのデフォルト設定に役立ちます。この情報提供はあなたの許可無しには行われません。 
